{{#section "css"}}
  <link
    href="https://unpkg.com/@yaireo/tagify/dist/tagify.css"
    rel="stylesheet"
    type="text/css"
  />
  <link rel="stylesheet" href="/public/css/details.css" />
{{/section}}
{{#section "js"}}
  <script src="https://unpkg.com/@yaireo/tagify"></script>
  <script
    src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"
  ></script>
  <script>
    var input = document.querySelectorAll('input[name=tags]'); for(let i of
    input) { new Tagify(i); } const tags =
    document.querySelectorAll(".tagify__tag-text"); for(let tag of tags) {
    tag.addEventListener('click', (e) => { e.preventDefault(); const tagName =
    tag.innerHTML; const url = "/tags?name=" + encodeURIComponent(`${tagName}`);
    window.location.href = url; }) }
  </script>
{{/section}}
<div class="card">
  <div class="card-body">
    {{#each this.papers}}
      <div class="row border-bottom pt-3" style="height: 15rem;">
        <div class="col-md-4 zoom" style="width: 18rem;">
          <a href="/papers/details/{{PaperID}}">
            <img
              src="/public/imgs/{{Avatar}}"
              class="img-thumbnail"
              alt="{{Avatar}}"
              title="{{PaperTitle}}"
              style="height: 12rem; width: 100%;"
            />
          </a>
        </div>
        <div class="col-md-8 mt-3 pr-5">
          <div class="row">
            <div class="badge">
              <a href="/papers/byCat/{{CatID}}">
                {{CatName}}
                <i class="fa fa-long-arrow-right" aria-hidden="true">
                  {{SubCatName}}
                </i>
              </a>
            </div>
            <div class="badge">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              {{PublishDate}}
            </div>
            {{#if Premium}}
              <div class="badge">
                <i class="fa fa-star text-primary" aria-hidden="true"></i>
              </div>
            {{/if}}
          </div>
          <div class="row text-truncate">
            <a class="text-decoration-none" href="/papers/details/{{PaperID}}">
              <h5 class="card-title text-dark mt-2">
                {{Title}}
              </h5>
            </a>
          </div>
          <div class="row">
            <p class="text-truncate text-muted">
              {{Abstract}}
            </p>
          </div>
          <div class="row">
            <input
              class="d-inline-block"
              name="tags"
              value="{{Tags}}"
              readonly
            />
          </div>
        </div>
      </div>
    {{/each}}
    <nav class="mt-4" aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
            Previous
          </a>
        </li>
        {{#each this.page_numbers}}
          {{#if isCurrent}}
            <li class="page-item active">
              <a class="page-link" href="javascript:;">
                {{value}}
              </a>
            </li>
          {{else}}
            <li class="page-item">
              <a class="page-link" href="?page={{value}}">
                {{value}}
              </a>
            </li>
          {{/if}}
        {{/each}}
        <li class="page-item">
          <a class="page-link" href="?page=">
            Next
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>