<div class="card">
  <div class="card-body">
    {{#if this.empty}}
      <h5 class="card-title">
        Empty
      </h5>
    {{else}}
      <div class="row">
        {{#each this.papers}}
          <div class="col-sm-4 mb-5">
            <button
              class="card link-secondary zoom"
              style="width: 18rem; height: 18rem"
            >
              <a
                href="/papers/details/{{PaperID}}"
                style="color: inherit; text-decoration:none;"
              >
                <div>
                  <img
                    src="/public/imgs/{{Avatar}}"
                    class="img-thumbnail"
                    alt="{{Avatar}}"
                    title="{{PaperTitle}}"
                    style="height: 12rem; width: 18rem;"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    {{Title}}
                    {{#if Premium}}
                      <i class="fa fa-star text-primary" aria-hidden="true"></i>
                    {{/if}}
                  </h5>
                </div>
              </a>
            </button>
          </div>
        {{/each}}
      </div>
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
              Previous
            </a>
          </li>
          {{#each this.page_numbers}}
            {{#if isCurrent}}
              <li class="page-item active">
                <a class="page-link" href="javascript:;">
                  {{value}}
                </a>
              </li>
            {{else}}
              <li class="page-item">
                <a class="page-link" href="?page={{value}}">
                  {{value}}
                </a>
              </li>
            {{/if}}
          {{/each}}
          <li class="page-item">
            <a class="page-link" href="?page=">
              Next
            </a>
          </li>
        </ul>
      </nav>
    {{/if}}
  </div>
</div>