<div class="card">
  <div class="card-body">
    {{#if this.empty}}
      <h5 class="card-title">
        Empty
      </h5>
    {{else}}
      <div class="row">
        {{#each this.papers}}
          <div class="col-md-4 mb-5 zoom" style="width: 18rem; height: 20rem">
            <div>
              <a href="/papers/details/{{PaperID}}">
                <img
                  src="/public/imgs/{{Avatar}}"
                  class="img-thumbnail"
                  alt="{{Avatar}}"
                  title="{{PaperTitle}}"
                  style="height: 12rem; width: 100%;"
                />
              </a>
            </div>
            <div class="card-body">
              <div class="row ml-1">
                <div class="badge">
                  Explore
                </div>
                <div class="badge">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  {{PublishDate}}
                </div>
                {{#if Premium}}
                  <div class="badge">
                    <i class="fa fa-star text-primary" aria-hidden="true"></i>
                  </div>
                {{/if}}
              </div>
              <div class="row">
                <h5 class="card-title text-truncate mt-2">
                  {{Title}}
                </h5>
              </div>
              <div class="row">
                <p class="text-truncate">
                  {{Abstract}}
                </p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
              Previous
            </a>
          </li>
          {{#each this.page_numbers}}
            {{#if isCurrent}}
              <li class="page-item active">
                <a class="page-link" href="javascript:;">
                  {{value}}
                </a>
              </li>
            {{else}}
              <li class="page-item">
                <a class="page-link" href="?page={{value}}">
                  {{value}}
                </a>
              </li>
            {{/if}}
          {{/each}}
          <li class="page-item">
            <a class="page-link" href="?page=">
              Next
            </a>
          </li>
        </ul>
      </nav>
    {{/if}}
  </div>
</div>