{{#section "css"}}
  <link
    href="https://unpkg.com/@yaireo/tagify/dist/tagify.css"
    rel="stylesheet"
    type="text/css"
  />
  <link rel="stylesheet" href="/public/css/details.css" />
{{/section}}
{{#section "js"}}
  <script src="https://unpkg.com/@yaireo/tagify"></script>
  <script
    src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"
  ></script>
  <script src="/public/js/papers/details.js"></script>
{{/section}}
{{#if err_message}}
  <div
    class="text-center alert alert-warning alert-dismissible fade show"
    role="alert"
  >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        ×
      </span>
    </button>
    <h1>
      {{err_message}}
    </h1>
    <a class="btn btn-primary d-inline-block" href="/" role="button">
      <i class="fa fa-backward" aria-hidden="true"></i>
      Back to Home
    </a>
  </div>
{{else}}
  <div class="container card mt-3 p-2">
    <div class="row">
      <div class="col">
        <img
          src="/public/imgs/{{this.paper.Avatar}}"
          class="img-thumbnail"
          alt="Image"
          style="width: 100%; max-height: 100%;"
        />
      </div>
    </div>
    <div class="row ml-4 mt-2">
      <div class="col">
        <h2 class="card-title">
          <b>
            {{this.paper.Title}}
          </b>
        </h2>
        <p>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          {{this.paper.PublishDate}}
        </p>
        <a
          href="/papers/byCat/{{this.paper.CatID}}"
          class="badge badge-primary mb-2"
        >
          <i class="fa fa-2x fa-list-alt" aria-hidden="true"></i>
          <span style="font-size: 1.5rem;">
            {{this.paper.CatName}}
            <span style="font-size: 1rem">
              <i class="fa fa-long-arrow-right" aria-hidden="true">
                {{this.paper.SubCatName}}
              </i>
            </span>
          </span>
        </a>
        <div class="mt-2">
          <i class="fa fa-tags fa-2x" aria-hidden="true"></i>
          <input
            class="d-inline-block"
            name="tags"
            value="{{this.paper.Tags}}"
            readonly
          />
        </div>
        {{#if authUser.Premium}}
          <div class="mt-3">
            <button data-id="{{this.paper.PaperID}}" id="download" type="submit" class="btn btn-primary" >
              <i class="fa fa-download" aria-hidden="true">
                Download PDF
              </i>
            </button>
          </div>
        {{/if}}
      </div>
    </div>
    <div class="row m-3 border-top p-1">
      <div class="card-body">
        {{{this.paper.Content}}}
      </div>
    </div>
    <h3 class="card-header border-top">
      Comments
    </h3>
    {{#each this.comments}}
      <div class="d-flex justify-content-center row m-2">
        <div class="col">
          <div class="d-flex flex-column comment-section">
            <div class="card bg-white p-2">
              <div class="d-flex flex-row user-info">
                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                <div class="d-flex flex-column justify-content-start ml-2">
                  <span class="d-block font-weight-bold name">
                    {{Name}}
                    -
                    <span
                      class="font-weight-normal text-capitalize font-italic"
                    >{{Role}}</span>
                  </span>
                  <span class="date text-black-50">
                    {{CreatedAt}}
                  </span>
                </div>
              </div>
              <div class="mt-2">
                <p class="comment-text">
                  {{Content}}
                </p>
              </div>
            </div>
            <div class="bg-white mt-2">
              <div class="d-flex flex-row fs-12">
                <div class="like p-2 cursor">
                  <i class="fa fa-thumbs-o-up"></i>
                  <span class="ml-1">
                    Like
                  </span>
                </div>
                <div class="like p-2 cursor">
                  <i class="fa fa-commenting-o"></i>
                  <span class="ml-1">
                    Comment
                  </span>
                </div>
                <div class="like p-2 cursor">
                  <i class="fa fa-share"></i>
                  <span class="ml-1">
                    Share
                  </span>
                </div>
                {{#if ../admin}}
                <div class="like p-2 cursor">
                  <form method="POST"
                    action="/admin/papers/{{../this.paper.PaperID}}/comment/{{CommentID}}/del"
                  >
                    <button type="submit" class="ml-1 btn btn-danger">
                  <i class="fa fa-trash"></i>
                      Delete
                    </button>
                  </form>
                </div>
                
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
    <form
      method="POST"
      action="/papers/details/{{this.paper.PaperID}}/comment"
      class="bg-light p-2"
    >
      <div class="d-flex flex-row align-items-start">
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        <textarea
          id="content"
          name="content"
          class="form-control ml-1 shadow-none textarea"
        ></textarea>
      </div>
      <div class="mt-2 text-right">
        <button class="btn btn-primary btn-sm shadow-none" type="submit">
          Post comment
        </button>
      </div>
    </form>
    <h3 class="card-header border-top">
      Related Topics
    </h3>
    <div class="row m-3">
      {{!  }}
      {{#each this.relatedNews}}
        <div class="col-4">
          <div class="card link-secondary zoom">
            <a
              href="/papers/details/{{PaperID}}"
              style="color: inherit; text-decoration:none;"
            >
              <img
                class="card-img-top"
                src="/public/imgs/{{Avatar}}"
                alt="Card Image"
                style="height: 55%;"
              />
              <div class="card-body">
                <div class="row">
                  <div class="col card-title text-secondary small float-right">
                    <b>
                      Views:
                      {{Views}}
                    </b>
                  </div>
                  <div
                    class="col-7 card-title text-secondary small float-right"
                  >
                    <b>
                      {{PublishDate}}
                    </b>
                  </div>
                </div>
                <p class="card-title link-secondary">
                  <b>
                    {{Title}}
                  </b>
                </p>
              </div>
            </a>
          </div>
        </div>
      {{/each}}
      {{!  }}
    </div>
  </div>
  <button onclick="topFunction()" id="myBtn" title="Go to top">
    Top
  </button>
{{/if}}