<div class="card p-5">
  <h4 class="card-header d-flex justify-content-between">
    Tags
    {{#eq authUser.Role "admin"}}
      <a class="btn btn-outline-success" href="/tags/add" role="button">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add a tag
      </a>
    {{/eq}}
  </h4>
  <div class="card-body">
    {{#if this.empty}}
      <h5 class="card-title">
        No data!
      </h5>
    {{else}}
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center" scope="col">
              #
            </th>
            <th scope="col">
              Tag
            </th>
            <th scope="col">
              Count
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each this.tags}}
            <tr>
              <th class="text-center" scope="row">
                {{@index}}
              </th>
              <td>
                <a href="/tags/find/{{TagId}}">
                  {{TagName}}
                </a>
              </td>    
              <td>
                {{count}}
              </td>    
                {{#eq ../authUser.Role "admin"}}
              <td class="text-right">
                <a
                  class="btn btn-primary btn-sm"
                  href="/tags/edit?id={{TagId}}"
                  role="button"
                  title="Edit"
                >
                  <i class="fa fa-pencil fa-2x w-100" aria-hidden="true">
                  </i>
                </a>
              </td><td>
                <form method="POST">
                  <input
                    type="hidden"
                    readonly
                    class="form-control"
                    id="txtTagId"
                    name="TagId"
                    value="{{TagId}}"
                  />
                  <input
                    type="hidden"
                    class="form-control"
                    id="txtTagName"
                    name="oldTagName"
                    required
                    autofocus
                    value="{{TagName}}"
                  />
                  <button type="submit" class="btn btn-danger" formaction="/tags/del">
                    <i class="fa fa-trash w-100" aria-hidden="true"></i>

                  </button>
                </form>
              </td>
                {{/eq}}
              
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</div>