{{#section "css"}}
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
  />
{{/section}}
{{#section "js"}}
  <script
    src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
  ></script>
 <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
  ></script>
  <script>
    $("#dob").datetimepicker({
  format: "d/m/Y",
  timepicker: false,
  mask: true,
});
  </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script>
    const dob = moment($("#dobhidden").val()).format("DD/MM/YYYY");
    $("#dob").val(dob);
  </script>
{{/section}}

<div class="container mt-5">
   
  <div class="row">
    
    <div class="col-md-3">
      
      <div class="list-group">
       
        <a
          href="/account/profile/dashboard"
          class="list-group-item list-group-item-action {{#if dashboard}}active{{/if}}"
        >
          Dashboard
        </a>
        <a href="/account/profile/changepassword" class="list-group-item list-group-item-action {{#if changepassword}}active{{/if}}">
          Change Password
        </a>
        <a href="/account/profile/getpremium" class="list-group-item list-group-item-action {{#if getpremium}}active{{/if}}">
          Get Premium
        </a>
      </div>
    </div>
    {{#if dashboard}}
    
    <div class="col-md-9">
      <div class="card">
        {{#if err_message}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">
          ×
        </span>
      </button>
      {{err_message}}
    </div>
  {{/if}} 
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4>
                Your Profile
              </h4>
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form method="POST">
                <div class="form-group row">
                  <label for="name" class="col-4 col-form-label">
                     {{#if writer}}
                      Pen Name
                    {{else}}
                      Name
                    {{/if}}
                  </label>
                  <div class="col-8">
                    <input
                      id="name"
                      name="name"
                      placeholder="Your Name"
                      class="form-control here"
                      type="text"
                      value="{{authUser.Name}}"
                      {{#if admin}}
                        readonly
                      {{/if}}
                      required
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-4 col-form-label">
                    Email
                  </label>
                  <div class="col-8">
                    <input
                      id="email"
                      name="email"
                      placeholder="Email"
                      class="form-control here"
                      value="{{authUser.Email}}"
                      type="email"
                      {{#if admin}}
                        readonly
                      {{/if}}
                      required
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="dob" class="col-4 col-form-label">
                    Date of Birth.
                  </label>
                  <div class="col-8">
                    <input id="dobhidden" type="hidden" value="{{authUser.Dob}}">
                    <input
                      id="dob"
                      name="dob"
                      placeholder="DoB"
                      class="form-control here"
                      type="text"
                      value=""
                      required
                    />
                  </div>
                
                </div>
                <div class="form-group row">
                  <div class="offset-4 col-8">
                    <button name="submit" type="submit" class="btn btn-primary">
                      Update My Profile <i class="ml-1 fa fa-pencil fa-lg" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{else if getpremium}}
    <div class="col-md-9">
      <div class="card pl-3">
        <div class="card-body">
          <div class="row">
            {{#eq authUser.Premium 0}}
              <form method="POST" action="">
                <button class="btn btn-success">Buy Premimum in 7 days</button>
              </form>     
            {{/eq}}
          </div>
          <div class="mt-2 row">
            <form method="POST" action="/account/profile/extend">
              <label class="text-primary" for="time">Extend Premimum in (minutes): </label>
              <input type="number" id="time" name="extend">
              <button class="btn btn-success">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
   
    {{else}}
      <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <div class="row">
            {{#if err_message}}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">
                    ×
                  </span>
                </button>
                {{err_message}}
              </div>
            {{/if}}
          </div>
          <div class="row">
            <div class="col-md-12">
              <form method="POST">
                <div class="form-group row">
                  <label for="name" class="col-4 col-form-label">
                    Old Password
                  </label>
                  <div class="col-8">
                    <input
                      id="oldPassword"
                      name="oldPassword"
                      class="form-control here"
                      type="password"
                      required
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-4 col-form-label">
                    New Password
                  </label>
                  <div class="col-8">
                    <input
                      id="newPassword"
                      name="newPassword"
                      class="form-control here"
                      type="password"
                      required
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-4 col-form-label">
                    Confirm Password
                  </label>
                  <div class="col-8">
                    <input
                      id="confirmPassword"
                      name="confirmPassword"
                      class="form-control here"
                      type="password"
                      required
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-4 col-8">
                    <button name="submit" type="submit" class="btn btn-primary">
                      Update Password <i class="ml-1 fa fa-pencil fa-lg" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</div>

