{{#if edit}}
  <div class="card container mt-5 mb-5" style="max-width: 500px">
    {{#if err_message}}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">
            ×
          </span>
        </button>
        {{err_message}}
      </div>
    {{/if}}
    <h4
      class="card-header border rounded bg-primary text-white text-center mt-3"
    >
      RESET PASSWORD
    </h4>
    <div class="card-body">
      <form
        id="frmResetPassword"
        action="/account/resetpassword/change"
        method="POST"
      >
        <div class="form-group">
          <label for="txtEmail">
            Email
          </label>
          <input
            type="email"
            class="form-control"
            id="txtEmail"
            name="email"
            placeholder="Your email"
            value="{{email}}"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="txtPassword">
            New Password
          </label>
          <input
            type="password"
            class="form-control"
            id="txtPassword"
            name="password"
            placeholder="Your new password"
            required
          />
        </div>
        <div class="form-group">
          <label for="txtConfirmPassword">
            Confirm Password
          </label>
          <input
            type="password"
            class="form-control"
            id="txtConfirmPassword"
            name="confirmPassword"
            placeholder="Re-type your password"
            required
          />
        </div>
        <input type="hidden" value="{{otp}}" id="otp" name="otp" />
        <button type="submit" class="btn btn-success d-block w-100">
          Change Password
        </button>
      </form>
    </div>
  </div>
{{else}}
  <div class="card container mt-5 mb-5" style="max-width: 500px">
    {{#if err_message}}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">
            ×
          </span>
        </button>
        {{err_message}}
      </div>
    {{/if}}
    <h4
      class="card-header border rounded bg-primary text-white text-center mt-3"
    >
      RESET PASSWORD
    </h4>
    <div class="card-body">
      <form id="frmForgotPassword" method="POST">
        <div class="form-group">
          <label for="txtEmail">
            Email
          </label>
          <input
            type="email"
            class="form-control"
            id="txtEmail"
            name="email"
            placeholder="Your email"
            required
          />
        </div>
        <button type="submit" class="btn btn-success d-block w-100">
          Forgot password
        </button>
      </form>
    </div>
  </div>
{{/if}}

{{#section "js"}}
  <script src="/public/js/account/resetpassword.js"></script>
{{/section}}