{{#section "js"}}
  <script>
    $(document).ready(function () { $("#myCarousel").carousel({ interval: 2000,
    }); });
  </script>
  <script>
    let Cat = 1;
  </script>
{{/section}}
<!-- 
  Casourel
-->
<div class="border">
  <div class="container mb-2 mt-1">
    <div class="row">
      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleCaptions"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          {{!  }}
          {{#each this.carousels}}
            <div class="carousel-item {{active}}">
              <img
                src="/public/carousels/{{id}}.png"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption d-none d-md-block"></div>
            </div>
          {{/each}}
          {{!  }}
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="prev"
          style="height: 80%;"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">
            Previous
          </span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">
            Next
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- 
  Today's top stories
-->

<div class="container mt-2 mb-2">
  <h1 class="border-bottom m-4 font-italic">
    Hot News
  </h1>
  <div class="row">
    {{!  }}
    {{#each this.hotNews}}
      <div class="col-lg-3 col-md-6">
        <div class="card link-secondary" style="border: none;">
          <a
            href="/papers/details/{{PaperID}}"
            style="color: inherit; text-decoration:none;"
          >
            <img
              class="img-topnews card-img-top img-thumbnail zoom"
              src="/public/imgs/{{Avatar}}"
              alt="Card Image"
              style="height: 10rem;"
            />
            <div class="card-body p-3">
              <div class="row">
                <a href="/papers/byCat/{{CatID}}">
                  <div class="col card-title text-primary zoom text-lg mb-sm">
                    <b>
                      {{CatName}}
                    </b>
                    <span style="font-size: 0.8rem;">
                      <i
                        class="fa fa-long-arrow-right text-md"
                        aria-hidden="true"
                      >
                        {{SubCatName}}
                      </i>
                    </span>
                  </div>
                </a>
              </div>
              <div class="row">
                <div class="col card-title text-primary small text-md">
                  <div class="card-title text-primary">
                    <b>
                      <i class="fa fa-eye fa-lg" aria-hidden="true"></i>
                      {{Views}}
                    </b>
                  </div>
                  <b>
                    <i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
                    {{PublishDate}}
                  </b>
                </div>
              </div>

              <p class="card-title link-secondary zoom text-justify">
                <a
                  class="text-dark text-decoration-none"
                  href="/papers/details/{{PaperID}}"
                >
                  <b>
                    {{Title}}
                  </b>
                </a>
                {{#if Premium}}
                  <i class="fa fa-star text-primary" aria-hidden="true"></i>
                {{/if}}
              </p>
            </div>
          </a>
        </div>
      </div>
    {{/each}}
    {{!  }}
  </div>
</div>

<!-- Most watched -->
<div class="container mt-2 mb-2 container-responsive">
  <h1 class="border-bottom m-4 font-italic">
    Most watched
  </h1>
  {{!  }}
  {{#each this.hotNews}}
    <div
      class="paper-responsive d-flex mb-5 row ml-2 mr-2 border border-dashed border-light rounded p-2"
    >
      <div class="img-hotnews" style="width: 300px; height: 200px;">
        <a href="/papers/details/{{PaperID}}">
          <img
            src="/public/imgs/{{Avatar}}"
            class="img-thumbnail zoom"
            alt="Image Paper"
            style="max-height: 100%; width: 100%;"
          />
        </a>

      </div>
      <div class="col ml-md-4 ml-sm-2">
        <div class="row">
          <div class="badge text-primary text-sm">
            <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
            {{PublishDate}}
          </div>
          <div class="badge text-primary text-sm">
            <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
            {{Views}}
          </div>
        </div>
        <div class="row mt-2">
          <a href="/papers/byCat/{{CatID}}">
            <h5 class="text-primary text-md zoom">
              {{CatName}}
              <span style="font-size: 1rem;">
                <i class="fa fa-long-arrow-right text-sm" aria-hidden="true">
                  {{SubCatName}}
                </i>
              </span>
            </h5>
          </a>
        </div>
        <div class="row">
          <h5 class="card-title text-dark text-justify">
            <a
              class="text-dark text-decoration-none text-md"
              href="/papers/details/{{PaperID}}"
            >
              <b>
                {{Title}}
              </b>
            </a>
            {{#if Premium}}
              <div class="badge">
                <i class="fa fa-star text-primary" aria-hidden="true"></i>
              </div>
            {{/if}}
          </h5>
        </div>
        <div class="responsive-desc-lg row text-sm">
          <p class="text-muted text-justify">
            {{Abstract}}
          </p>
        </div>
      </div>
    </div>
  {{/each}}
  {{!  }}
</div>
<!-- Latest -->
<div class="container mt-2 mb-2 container-responsive">
  <h1 class="border-bottom m-4 font-italic">
    Latest watched
  </h1>
  {{!  }}
  {{#each this.latestNews}}
    <div
      class="paper-responsive d-flex mb-5 row ml-2 mr-2 border border-dashed border-light rounded p-2"
    >
      <div class="img-hotnews" style="width: 300px; height: 200px;">
        <a href="/papers/details/{{PaperID}}">
          <img
            src="/public/imgs/{{Avatar}}"
            class="img-thumbnail zoom"
            alt="Image Paper"
            style="max-height: 100%; width: 100%;"
          />
        </a>

      </div>
      <div class="col ml-md-4 ml-sm-2">
        <div class="row">
          <div class="badge text-primary text-sm">
            <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
            {{PublishDate}}
          </div>
          <div class="badge text-primary text-sm">
            <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
            {{Views}}
          </div>
        </div>
        <div class="row mt-2">
          <a href="/papers/byCat/{{CatID}}">
            <h5 class="text-primary text-md zoom">
              {{CatName}}
              <span style="font-size: 1rem;">
                <i class="fa fa-long-arrow-right text-sm" aria-hidden="true">
                  {{SubCatName}}
                </i>
              </span>
            </h5>
          </a>
        </div>
        <div class="row">
          <h5 class="card-title text-dark text-justify">
            <a
              class="text-dark text-decoration-none text-md"
              href="/papers/details/{{PaperID}}"
            >
              <b>
                {{Title}}
              </b>
            </a>
            {{#if Premium}}
              <div class="badge">
                <i class="fa fa-star text-primary" aria-hidden="true"></i>
              </div>
            {{/if}}
          </h5>
        </div>
        <div class="responsive-desc-lg row text-sm">
          <p class="text-muted text-justify">
            {{Abstract}}
          </p>
        </div>
      </div>
    </div>
  {{/each}}
  {{!  }}
</div>