<div class="container mt-3">
  {{#if searchList}}
    <h1>
      Search for
    </h1>
  {{else}}
    <h1>
      No result
    </h1>
  {{/if}}
  {{!  }}
  {{#each this.searchList}}
    <a
      href="/papers/details/{{PaperID}}"
      style="color: inherit; text-decoration:none;"
      class="border-bottom"
    >
      <div class="row mb-1 zoom">
        <div class="col-4">
          <img
            src="/public/imgs/{{Avatar}}"
            class="img-thumbnail
                ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
            alt="image-paper"
          />
        </div>
        <div class="col">
          <div class="row">
            {{CreatedAt}}
            -
            <i class="fa fa-comment" aria-hidden="true"></i>
            71
          </div>
          <div class="row">
            <h4 class="card-title text-dark">
              <b>
                {{Title}}
              </b>
            </h4>
          </div>
        </div>
      </div>
    </a>
  {{/each}}
  {{!  }}
</div>