<div class="container mt-3">
  {{#if searchList}}
    <h1>
      Search for
    </h1>
  {{else}}
    <h1>
      No result
    </h1>
  {{/if}}
  {{!  }}
  {{#each this.searchList}}
    <a
      href="/papers/details/{{PaperID}}"
      style="color: inherit; text-decoration:none;"
      class="border-bottom"
    >
      <div class="row mb-1 zoom">
        <div class="col-4" style="height: 18rem;">
          <img
            src="/public/imgs/{{Avatar}}"
            class="img-thumbnail"
            alt="Image"
            style="width: 100%; max-height: 100%;"
          />
        </div>
        <div class="col">
          {{PublishDate}}
          <i class="fa fa-eye fa-lg ml-2" aria-hidden="true">
            {{Views}}
          </i>
          {{#if Premium}}
            <i
              class="fa fa-star fa-lg ml-2 text-primary"
              aria-hidden="true"
            ></i>
          {{/if}}
          <div class="row">
            <h4 class="card-title text-dark ml-3">
              <b>
                {{Title}}
              </b>
            </h4>
          </div>
          <p class="card-text">
            {{Abstract}}
          </p>
        </div>
      </div>
    </a>
  {{/each}}
  {{!  }}
</div>