{{#section "css"}}
  <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
{{/section}}

{{#section "js"}}
  <script src="https://unpkg.com/@yaireo/tagify"></script>
  <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
  <script>
    var tags = document.querySelectorAll('input');
    tags.forEach(tag => {
      new Tagify(tag);
    })
  </script>

{{/section}}
<div class="container-fluid p-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body bg-primary">
          <h3 class="card-title text-white text-center mb-0">List of Papers</h3>
        </div>
        <div class="table-responsive">
          <table class="table border no-wrap user-table mb-0">
            <thead>
              <tr class="text-center">
                <th scope="col" class="border-0 font-medium pl-4">#</th>
                <th scope="col" class="border-0 font-medium">Paper Title
                  {{{sortable "Title" _sort}}}
                </th>
                <th scope="col" class="border-0 font-medium">Created At
                  {{{sortable "CreatedAt" _sort}}}
                </th>
                <th scope="col" class="border-0 font-medium">Status
                  {{{sortable "Status" _sort}}}
                </th>
                <th scope="col" class="border-0 font-medium">Tags</th>
              </tr>
            </thead>
            <tbody>
              {{!--  --}}
              {{#each this.papers}}
                <tr>
                  <td class="pl-4">{{@index}}</td>
                  <td class="col-md-6">
                      {{#eq Status "Published"}}
                        <p class="paper-title-responsive"><a class="font-medium mb-0" href="/papers/details/{{PaperID}}">{{Title}}</a></p>
                      {{/eq}}

                      {{#eq Status "Draft"}}
                      <p class="paper-title-responsive"><a class="font-medium mb-0" href="/editor/management/paper/{{PaperID}}">{{Title}}</a></p>
                      
                      {{/eq}}

                      {{#eq Status "Accepted"}}
                      <p class="paper-title-responsive"><a class="font-medium mb-0" href="/editor/management/paper/{{PaperID}}">{{Title}}</a></p>
                      {{/eq}}
                      
                      {{#eq Status "Rejected"}}
                      <p class="paper-title-responsive"><a class="font-medium mb-0" href="/editor/management/paper/{{PaperID}}">{{Title}}</a></p>

                      {{/eq}}
                  </td>
                  <td class="col-md-2 text-center">  
                    <span class="text-muted">{{CreatedAt}}</span><br>
                  </td>
                  <td class="col-md-1 text-center">  
                    <span class="text-muted">{{Status}}</span><br>
                  </td>
                  <td class="col-md-3"> 
                    <input name='tags' value='{{Tags}}' style="border: 0;" readonly></input>
                  </td> 
                </tr>
              {{/each}}
            {{!--  --}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>