{{#section "css"}}
  <link
    href="https://unpkg.com/@yaireo/tagify/dist/tagify.css"
    rel="stylesheet"
    type="text/css"
  />
{{/section}}

{{#section "js"}}
  <script src="https://unpkg.com/@yaireo/tagify"></script>
  <script
    src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"
  ></script>
  <script>
    var input = document.querySelector('input[name=tags]'); new Tagify(input)
  </script>
  <script
    src="https://cdn.tiny.cloud/1/xj36kfadjrtykjwcr6ww3u7prfswvbmgfs5gj6yee8zpkzv9/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"
  ></script>

{{/section}}
<div class="container-fluid mt-5">
  {{#if err_message}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">
          ×
        </span>
      </button>
      {{err_message}}
    </div>
  {{/if}}
  {{! New }}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body bg-primary">
            <h3 class="card-title text-white text-center mb-0">List of Papers</h3>
          </div>
          <div class="table-responsive">
            <table class="table border no-wrap user-table mb-0">
              <thead>
                <tr class="text-center">
                  <th scope="col" class="border-0 font-medium pl-4">#</th>
                  <th scope="col" class="border-0 font-medium">Paper Title
                    {{{sortable "Title" _sort}}}
                  </th>
                  <th scope="col" class="border-0 font-medium">
                    <div class="dropdown show">
                      <a
                        class="btn border-light dropdown-toggle font-weight-bold"
                        href="#"
                        role="button"
                        id="dropdownMenuLink"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        Status
                      </a>

                      <div
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuLink"
                      >
                        <a
                          class="dropdown-item"
                          href="/writer/management"
                        >All</a>
                        <a
                          class="dropdown-item"
                          href="?status=Published"
                        >Published</a>
                        <a
                          class="dropdown-item"
                          href="?status=Draft"
                        >Draft</a><a
                          class="dropdown-item"
                          href="?status=Accepted"
                        >Accepted</a><a
                          class="dropdown-item"
                          href="?status=Rejected"
                        >Rejected</a>
                      </div>
                    </div>
                  </th>
                  <th scope="col" class="border-0 font-medium">Publish Date
                    {{{sortable "PublishDate" _sort}}}
                  </th>
                  <th scope="col" class="border-0 font-medium">Comment</th>
                </tr>
              </thead>
              <tbody>
                {{!  }}
                {{#each this.papers}}
                  <tr>
                    <td class="pl-4">{{@index}}</td>
                    <td class="col-md-6">
                      {{#eq Status "Draft"}}
                        <p class="text-justify paper-title-responsive"><a
                            class="font-medium mb-0"
                            href="/writer/management/paper/{{PaperID}}"
                          >{{Title}}</a></p>
                      {{/eq}}

                      {{#eq Status "Rejected"}}
                        <p class="text-justify paper-title-responsive"><a
                            class="font-medium mb-0"
                            href="/writer/management/paper/{{PaperID}}"
                          >{{Title}}</a></p>
                      {{/eq}}

                      {{#eq Status "Accepted"}}
                        <p class="text-justify paper-title-responsive"><a
                            class="font-medium mb-0"
                            href="/writer/management/paper/{{PaperID}}"
                          >{{Title}}</a></p>
                      {{/eq}}

                      {{#eq Status "Published"}}
                        <p class="text-justify paper-title-responsive">
                          <a
                            class="font-medium mb-0"
                            href="/papers/details/{{PaperID}}"
                          >{{Title}}</a></p>
                      {{/eq}}
                    </td>
                    <td class="col-md-1 text-center">
                      <span class="text-muted">{{Status}}</span>
                    </td>
                    <td class="col-md-2 text-center">
                      <span class="text-muted">{{PublishDate}}</span>
                    </td>
                    <td class="col-md-3">
                      <span class="text-muted">{{EditorComment}}</span>
                    </td>
                  </tr>
                {{else}}
                  
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                {{/each}}
                {{!  }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>