{{#section "css"}}
  <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
{{/section}}

{{#section "js"}}
  <script src="https://unpkg.com/@yaireo/tagify"></script>
  <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
  <script>
    var input = document.querySelector('input[name=tags]');
    new Tagify(input)
  </script>
    <script
    src="https://cdn.tiny.cloud/1/gvtv7ihf6847atiz3flob6067u01hd25hmsld40h5o94kqy1/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"
  ></script

{{/section}}
<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body bg-secondary">
          <h5 class="card-title text-uppercase mb-0">Writer Management</h5>
        </div>
        <div class="table-responsive">
          <table class="table border no-wrap user-table mb-0">
            <thead>
              <tr>
                <div class="row">
                  <th scope="col" class="col-1 border-0  text-uppercase font-medium pl-4">#</th>
                  <th scope="col" class="col-3 order-0 text-uppercase font-medium">Title</th>
                  <th scope="col" class="col-1 border-0 text-uppercase font-medium">Status</th>
                  <th scope="col" class="col-1 border-0 text-uppercase font-medium">Publish Date</th>
                  <th scope="col" class="col-6 border-1 text-uppercase font-medium">Comment</th>
                </div>
                
              </tr>
            </thead>
            <tbody>
              {{!--  --}}
              {{#each this.papers}}
                <tr >
                  <td class="pl-4">{{@index}}</td>
                  <td>
                      {{#eq Status "Draft"}}
                        <h5><a class="font-medium mb-0" href="/writer/management/paper/{{PaperID}}">{{Title}}</a></h5>
                      {{/eq}}

                      {{#eq Status "Rejected"}}
                        <h5><a class="font-medium mb-0" href="/writer/management/paper/{{PaperID}}">{{Title}}</a></h5>
                      {{/eq}}

                      {{#eq Status "Accepted"}}
                        <h5>{{Title}}</h5>
                      {{/eq}}
                      
                      {{#eq Status "Publish"}}
                        <h5>{{Title}}</h5>
                      {{/eq}}
                  </td>
                  <td>  
                    <span class="text-muted">{{Status}}</span><br>
                  </td>
                  <td>  
                    <span class="text-muted">{{CreatedAt}}</span><br>
                  </td>
                  <td> 
                    <span class="text-muted">{{EditorComment}}</span><br>
                  </td> 
                </tr>
              {{/each}}
              
              {{!--  --}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>