{{#section "css"}}
  <link
    href="https://unpkg.com/@yaireo/tagify/dist/tagify.css"
    rel="stylesheet"
    type="text/css"
  />
{{/section}}

{{#section "js"}}
  <script src="https://unpkg.com/@yaireo/tagify"></script>
  <script
    src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"
  ></script>
  <script>
    var input = document.querySelector('input[name=tags]'); new Tagify(input)
  </script>
  <script
    src="https://cdn.tiny.cloud/1/xj36kfadjrtykjwcr6ww3u7prfswvbmgfs5gj6yee8zpkzv9/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"
  ></script>

{{/section}}
<div class="container-fluid mt-5">
  {{#if err_message}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">
          ×
        </span>
      </button>
      {{err_message}}
    </div>
  {{/if}}
  <div class="row">
    <div class="col">
      <div class="card-body bg-primary">
        <h1 class="card-title mb-0 text-white text-center">List of Papers</h1>
      </div>
    </div>
  </div>
  <div class="row border-bottom mx-0">
    <div
      class="py-2 text-center col-1 font-weight-bold d-flex justify-content-center align-items-center"
    >#</div>
    <div
      class="py-2 text-center col-5 font-weight-bold d-flex justify-content-center align-items-center"
    >Title</div>
    <div class="py-2 text-center col-2 font-weight-bold d-flex">
      <div class="dropdown show">
        <a
          class="btn border-light dropdown-toggle font-weight-bold"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Status
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="/writer/management">All</a>
          <a class="dropdown-item" href="?status=Published">Published</a>
          <a class="dropdown-item" href="?status=Draft">Draft</a><a
            class="dropdown-item"
            href="?status=Accepted"
          >Accepted</a><a
            class="dropdown-item"
            href="?status=Rejected"
          >Rejected</a>
        </div>
      </div>
    </div>
    <div
      class="py-2 text-center col-2 font-weight-bold d-flex justify-content-center align-items-center"
    >Publish Date</div>
    <div
      class="py-2 text-center col-2 font-weight-bold d-flex justify-content-center align-items-center"
    >Comment</div>
  </div>
  {{#each this.papers}}
    <div class="row border-bottom py-3">
      <div class="text-center col-1">{{sum @index 1}}</div>
      <div class="col-5">
        {{#eq Status "Draft"}}
          <h5 class="text-justify"><a
              class="font-medium mb-0"
              href="/writer/management/paper/{{PaperID}}"
            >{{Title}}</a></h5>
        {{/eq}}

        {{#eq Status "Rejected"}}
          <h5><a
              class="font-medium mb-0"
              href="/writer/management/paper/{{PaperID}}"
            >{{Title}}</a></h5>
        {{/eq}}

        {{#eq Status "Accepted"}}
          <h5><a
              class="font-medium mb-0"
              href="/writer/management/paper/{{PaperID}}"
            >{{Title}}</a></h5>
        {{/eq}}

        {{#eq Status "Published"}}
          <h5><a
              class="font-medium mb-0"
              href="/papers/details/{{PaperID}}"
            >{{Title}}</a></h5>
        {{/eq}}
      </div>
      <div class="col-2">
        <span class="text-muted">{{Status}}
        </span>
      </div>
      <div class="text-center col-2">
        <span class="text-muted">{{PublishDate}}</span>
      </div>
      <div class="text-center col-2">
        <span class="text-muted">{{EditorComment}}</span>
      </div>
    </div>
  {{/each}}
</div>