{{#section "css"}}
  <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
{{/section}}

{{#section "js"}}
  <script src="https://unpkg.com/@yaireo/tagify"></script>
  <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
  <script>
    var input = document.querySelector('input[name=tags]');
    new Tagify(input)
  </script>
    <script
    src="https://cdn.tiny.cloud/1/gvtv7ihf6847atiz3flob6067u01hd25hmsld40h5o94kqy1/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"
  ></script

{{/section}}
<div class="container-fluid mt-5">
  {{#if err_message}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">
          ×
        </span>
      </button>
      {{err_message}}
    </div>
  {{/if}}
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-header d-flex justify-content-between">
    Papers
    <a
      class="btn btn-outline-success"
      href="/writer/upload"
      role="button"
    >
      <i class="fa fa-plus" aria-hidden="true"></i>
      Upload a paper
    </a>
  </h4>
        </div>
        <div class="table-responsive">
          <table class="table border no-wrap user-table mb-0">
            <thead>
              <tr>
                <div class="row">
                  <th scope="col" class="text-center col-1 border-0   font-medium pl-4">#</th>
                  <th scope="col" class="text-center col-3 order-0  font-medium">Paper Title</th>
                  <th scope="col" class="text-center col-1 border-0  font-medium">Status</th>
                  <th scope="col" class="text-center col-1 border-0  font-medium">Publish Date</th>
                  <th scope="col" class="text-center col-6 border-1  font-medium">Comment</th>
                  <th scope="col" class="text-center col-6 border-1  font-medium">Premium</th>
                </div>
                
              </tr>
            </thead>
            <tbody>
              {{!--  --}}
              {{#each this.papers}}
                <tr>
                  <td class="text-center pl-4">{{@index}}</td>
                  <td class="col-md-6">
                      {{#eq Status "Draft"}}
                        <h5><a class="font-medium mb-0" href="/writer/management/paper/{{PaperID}}">{{Title}}</a></h5>
                      {{/eq}}

                      {{#eq Status "Rejected"}}
                        <h5><a class="font-medium mb-0" href="/writer/management/paper/{{PaperID}}">{{Title}}</a></h5>
                      {{/eq}}

                      {{#eq Status "Accepted"}}
                        <h5><a class="font-medium mb-0" href="/writer/management/paper/{{PaperID}}">{{Title}}</a></h5>
                      {{/eq}}
                      
                      {{#eq Status "Published"}}
                        <h5><a class="font-medium mb-0" href="/papers/details/{{PaperID}}">{{Title}}</a></h5>
                      {{/eq}}
                  </td>
                  <td class="text-center col-md-1">
                    <span class="text-muted">{{Status}}</span><br>
                  </td>
                  <td class="text-center col-md-2">  
                      
                        <span class="text-muted">{{PublishDate}}</span><br>
                    
                  </td>
                  <td class="col-md-3"> 
                    <span class="text-muted">{{EditorComment}}</span><br>
                  </td> 
                  <td>
                    {{#isnt Status "Published"}}
                    <form method="POST" action="/admin/papers/publish/{{PaperID}}">
                        <button
                          type="submit"
                          class="btn btn-success"
                        >
                          Publish
                        </button>
                      </form>
                    {{/isnt}}

                      {{#eq Premium 0}}
                        {{#eq Status "Published"}}
                          <form method="POST" action="/admin/papers/activepremium/{{PaperID}}">
                            <button
                              type="submit"
                              class="btn btn-primary"
                              title="Mark as premium paper"
                            >
                              Make premium           
                            </button>
                          </form>
                        {{/eq}}
                        
                      {{/eq}}
                      {{#if Premium}}
                        <i class="fa fa-star w-100 text-primary text-center" aria-hidden="true"></i>
                      {{/if}}
                     
                </td>
                <td>
                  <a class="btn btn-primary" href="/writer/management/paper/{{PaperID}}"><i class="fa fa-pencil-square-o w-100" aria-hidden="true"></i>
</a>
                </td>
                <td>
                  <form method="POST" action="/writer/management/paper/{{PaperID}}/del">
                  
                    <button class="btn btn-danger" type="submit">
                      <i class="fa fa-trash w-100" aria-hidden="true"></i>
                    </button>
                  </form>
                </td>
                </tr>
              {{/each}}
              
              {{!--  --}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>