{{#section "js"}}
  <script src="/public/js/admin/papers.js"></script>
{{/section}}
<div class="container-fluid mt-5">
  {{#if err_message}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">
          ×
        </span>
      </button>
      {{err_message}}
    </div>
  {{/if}}
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-header d-flex justify-content-between text-md">
            Manage Papers
            <a
              class="btn btn-outline-success text-sm"
              href="/writer/upload"
              role="button"
            >
              <i class="fa fa-plus" aria-hidden="true"></i>
              Upload a paper
            </a>
          </h4>
        </div>
        <div class="table-responsive">
          <table class="table border no-wrap user-table mb-0">
            <thead>
              <tr>
                <div class="row">
                  <th scope="col" class="text-center">#</th>
                  <th scope="col" class="text-center text-sm">Paper Title
                    {{{sortable "Title" _sort}}}
                  </th>
                  <th scope="col" class="text-center text-sm">Status
                    {{{sortable "Status" _sort}}}
                  </th>
                  <th scope="col" class="text-center text-sm">Publish Date
                    {{{sortable "PublishDate" _sort}}}
                  </th>
                  <th scope="col" class="text-center text-sm">Comment</th>
                  <th scope="col" class="text-center text-sm">Premium</th>
                  <th scope="col" class="text-sm"></th>
                </div>

              </tr>
            </thead>
            <tbody>
              {{!  }}
              {{#each this.papers}}
                <tr>
                  <td class="text-center text-sm">{{sum @index 1}}</td>
                  <td class="col-md-6">
                    {{#eq Status "Draft"}}
                      <h5 class="text-justify"><a
                          class="mb-0 text-sm"
                          href="/writer/management/paper/{{PaperID}}"
                        >{{Title}}</a></h5>
                    {{/eq}}

                    {{#eq Status "Rejected"}}
                      <h5><a
                          class="mb-0 text-sm"
                          href="/writer/management/paper/{{PaperID}}"
                        >{{Title}}</a></h5>
                    {{/eq}}

                    {{#eq Status "Accepted"}}
                      <h5><a
                          class="mb-0 text-sm"
                          href="/writer/management/paper/{{PaperID}}"
                        >{{Title}}</a></h5>
                    {{/eq}}

                    {{#eq Status "Published"}}
                      <h5><a
                          class="mb-0 text-sm"
                          href="/papers/details/{{PaperID}}"
                        >{{Title}}</a></h5>
                    {{/eq}}
                  </td>
                  <td class="text-center col-md-1 text-sm">
                    <span class="text-muted">{{Status}}</span><br />
                  </td>
                  <td class="text-center col-md-1">

                    <span class="text-muted text-sm">{{PublishDate}}</span><br
                    />

                  </td>
                  <td class="text-center col-md-2 text-sm">
                    <span class="text-muted">{{EditorComment}}</span><br />
                  </td>
                  <td class="col-md-1">
                    {{#isnt Status "Published"}}
                      {{#isnt Status "Rejected"}}
                        <form
                          method="POST"
                          action="/admin/papers/publish/{{PaperID}}"
                        >
                          <button
                            type="submit"
                            class="btn btn-success btn-sm btn-block text-sm"
                            title="publish paper"
                          >
                            Publish
                          </button>
                        </form>
                      {{/isnt}}
                    {{/isnt}}

                    {{#eq Premium 0}}
                      {{#eq Status "Published"}}
                        <form
                          method="POST"
                          action="/admin/papers/activepremium/{{PaperID}}"
                        >
                          <button
                            type="submit"
                            class="btn btn-primary btn-sm btn-block text-sm"
                            title="Mark as premium paper"
                          >
                            Premium
                          </button>
                        </form>
                      {{/eq}}

                    {{/eq}}
                    {{#if Premium}}
                      <i
                        class="fa fa-star w-100 text-primary text-center"
                        aria-hidden="true"
                      ></i>
                    {{/if}}

                  </td>
                  <td class="col-md-1">
                    <div class="dropdown">
                      <a
                        class="btn btn-secondary btn-sm dropdown-toggle"
                        href="#"
                        role="button"
                        id="dropdownMenuLink"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="fa fa-cog" aria-hidden="true"></i>
                      </a>
                      <div
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuLink"
                      >
                        {{#isnt Status "Published"}}
                          <a
                            class="dropdown-item text-sm"
                            href="/editor/management/paper/{{PaperID}}"
                          >Edit as Editor</a>
                          <div class="dropdown-divider"></div>

                        {{/isnt}}
                        <a
                          class="dropdown-item text-sm"
                          href="/writer/management/paper/{{PaperID}}"
                        >Edit as Writer</a>
                        <div class="dropdown-divider"></div>

                        {{#eq Premium 1}}
                          <form
                            method="POST"
                            action="/admin/papers/{{PaperID}}/unmark"
                          >
                            <button
                              class="dropdown-item btn btn-danger text-sm"
                              type="submit"
                            >
                              Unmark Premium
                            </button>
                          </form>
                          <div class="dropdown-divider"></div>
                        {{/eq}}
                        {{#eq Status "Published"}}
                          <form
                            method="POST"
                            action="/admin/papers/{{PaperID}}/depublish"
                          >
                            <button
                              class="dropdown-item btn btn-danger text-sm"
                              type="submit"
                            >
                              DePublish
                            </button>
                          </form>
                          <div class="dropdown-divider"></div>
                        {{/eq}}

                        <button
                          class="dropdown-item btn btn-danger text-sm"
                          type="button"
                          data-id="{{PaperID}}"
                          data-toggle="modal"
                          data-target="#exampleModal"
                        >
                          Delete
                        </button>

                      </div>
                    </div>
                  </td>

                </tr>
              {{/each}}

              {{!  }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<form id="delete-paper-form" method="POST"></form>

<!-- Delete Paper Modal-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete paper</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you really sure?
      </div>
      <div class="modal-footer">
        <button
          id="delete-paper-btn"
          type="button"
          class="btn btn-danger"
        >Delete</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Close</button>
      </div>
    </div>
  </div>
</div>