<div class="card p-5">
  <h4 class="card-header d-flex justify-content-between">
    Categories
    <a
      class="btn btn-outline-success"
      href="/admin/categories/add"
      role="button"
    >
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add Category
    </a>
  </h4>
  <div class="card-body">
    {{#if this.empty}}
      <h5 class="card-title">
        No data!
      </h5>
    {{else}}
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center" scope="col">
              #
            </th>
            <th scope="col">
              Category
            </th>
            <th scope="col"></th>

          </tr>
        </thead>
        <tbody>
          {{#each this.categories}}
            <tr>
              <td class="text-center" scope="row">
                {{sum @index 1}}
              </td>
              <td class="">
                <div class="dropdown">
                  <a
                    class="btn btn-info dropdown-toggle text-capitalize"
                    href="/"
                    role="button"
                    id="dropdownMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    {{CatName}}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {{#each SubCategory}}
                      <a
                        class="dropdown-item text-capitalize"
                        href="/papers/bySubCat/{{SubCatID}}"
                      >
                        {{SubCatName}}
                      </a>
                    {{/each}}
                  </div>
                </div>
              </td>
              <td class="text-right">
                <div class="dropdown">
                  <a
                    class="btn btn-secondary dropdown-toggle"
                    href="#"
                    role="button"
                    id="dropdownMenuLink"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fa fa-cog" aria-hidden="true"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a
                      class="dropdown-item"
                      href="/admin/categories/edit?id={{CatID}}"
                    >
                      Edit Main Category
                    </a>
                    <a
                      href="/admin/categories/{{CatID}}/addSubCategory"
                      class="dropdown-item"
                    >
                      Add Sub Category
                    </a>
                    <a
                      class="dropdown-item"
                      href="/admin/categories/{{CatID}}/subCategories"
                    >
                      Edit Sub Category
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</div>